In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("vine_table.csv")

In [4]:
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R26MV8D0KG6QI6,5.0,0.0,0.0,N,Y
1,R1OF8GP57AQ1A0,5.0,0.0,0.0,N,Y
2,R3VDC1QB6MC4ZZ,5.0,0.0,0.0,N,N
3,R12FA3DCF8F9ER,5.0,0.0,0.0,N,Y
4,RTWHVNV6X4CNJ,5.0,0.0,0.0,N,Y

In [5]:
df.count()

review_id            2402458
star_rating          2402431
helpful_votes        2402431
total_votes          2402431
vine                 2402431
verified_purchase    2402431
dtype: int64

Step 1: new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20

In [8]:
total_votes_df = df[df.total_votes >= 20]

In [9]:
#31k results 
total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1103,R33VIWRD2X5IA9,1.0,0.0,20.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
...,...,...,...,...,...,...
2402413,R1IQNIT2UFQE97,5.0,26.0,27.0,N,N
2402422,RIQSTVHD4MQHH,5.0,21.0,23.0,N,N
2402425,RZOSXUI2V2LO7,5.0,23.0,23.0,N,N
2402441,R2XP1RFUXZWU9B,5.0,114.0,126.0,N,N
2402442,R1L2H6IJHX7Q6F,5.0,47.0,51.0,N,N

Step 2: retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

In [10]:
helpful_votes_df = total_votes_df[total_votes_df.helpful_votes/total_votes_df.total_votes >= 0.5]

In [11]:
#28k results 
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y
...,...,...,...,...,...,...
2402413,R1IQNIT2UFQE97,5.0,26.0,27.0,N,N
2402422,RIQSTVHD4MQHH,5.0,21.0,23.0,N,N
2402425,RZOSXUI2V2LO7,5.0,23.0,23.0,N,N
2402441,R2XP1RFUXZWU9B,5.0,114.0,126.0,N,N
2402442,R1L2H6IJHX7Q6F,5.0,47.0,51.0,N,N

Step 3: filter helpful_votes_df into two new dfs: one with paid (vine == "Y") and one with unpaid (vine == "N") reviews

In [16]:
paid_reviews_df = helpful_votes_df[helpful_votes_df.vine == "Y"]

In [17]:
#61 results 
paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
78803,R3MKO875WGIEBJ,5.0,34.0,37.0,Y,N
90155,R3OPNTK61FQ7MP,5.0,32.0,37.0,Y,N
302146,RMDRU8I773X5U,4.0,22.0,25.0,Y,N
417135,RR83RGWFEFZCL,3.0,61.0,64.0,Y,N
477241,R2TMZ7GV8SPIRV,4.0,23.0,23.0,Y,N
...,...,...,...,...,...,...
2337423,R1HAVGFU4QGLI7,1.0,15.0,21.0,Y,N
2338740,R3D4YU82OM4OUK,4.0,34.0,34.0,Y,N
2343764,R13ZO6FYN1B76K,2.0,16.0,23.0,Y,N
2348144,R1Y0S1XVN156RY,4.0,29.0,41.0,Y,N
2354507,RP864VB3E94JN,5.0,19.0,21.0,Y,N

In [15]:
unpaid_reviews_df = helpful_votes_df[helpful_votes_df.vine == "N"]

In [18]:
#28k results 
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y
...,...,...,...,...,...,...
2402413,R1IQNIT2UFQE97,5.0,26.0,27.0,N,N
2402422,RIQSTVHD4MQHH,5.0,21.0,23.0,N,N
2402425,RZOSXUI2V2LO7,5.0,23.0,23.0,N,N
2402441,R2XP1RFUXZWU9B,5.0,114.0,126.0,N,N
2402442,R1L2H6IJHX7Q6F,5.0,47.0,51.0,N,N

Stats: total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [23]:
review_count = df.review_id.count()

In [24]:
review_count

2402458

In [30]:
five_star_count = df.star_rating[df.star_rating == 5].count()

In [31]:
five_star_count

1662248

In [47]:
paid_5_star = paid_reviews_df.star_rating[paid_reviews_df.star_rating == 5].count()

paid_count = paid_reviews_df.star_rating.count()

paid_5_star_ratio = paid_5_star/paid_count

In [48]:
paid_5_star_ratio

0.32786885245901637

In [49]:
unpaid_5_star = unpaid_reviews_df.star_rating[unpaid_reviews_df.star_rating == 5].count()

unpaid_count = unpaid_reviews_df.star_rating.count()

unpaid_5_star_ratio = unpaid_5_star/unpaid_count

In [50]:
unpaid_5_star_ratio

0.5546364054159154

In [54]:
review_stats_data = {"Total Review Count": [review_count],
                    "5 Star Review Count": [five_star_count],
                    "Paid 5 Star %":[paid_5_star_ratio],
                    "Unpaid 5 Star %": [unpaid_5_star_ratio]}

In [62]:
reivew_stats_df = pd.DataFrame(review_stats_data)

In [68]:
# reivew_stats_df["Total Review Count"] = reivew_stats_df["Total Review Count"].map("{:,}".format)

# reivew_stats_df["5 Star Review Count"] = reivew_stats_df["5 Star Review Count"].map("{:,}".format)


# reivew_stats_df["Paid 5 Star %"] = reivew_stats_df["Paid 5 Star %"].map("{:,.2%}".format)

# reivew_stats_df["Unpaid 5 Star %"] = reivew_stats_df["Unpaid 5 Star %"].map("{:,.2%}".format)

In [69]:
reivew_stats_df

  Total Review Count 5 Star Review Count Paid 5 Star % Unpaid 5 Star %
0          2,402,458           1,662,248        32.79%          55.46%